@media screen
{
	.social-profiles { overflow: hidden; display: inline-block; list-style: none; margin: 0; padding: 0; }
	.social-link { display: inline-block; margin: 0 1em; padding: 0; }
	.social-link:first-child { margin-left: 0; }
	.social-link:last-child { margin-right: 0; }
	.social-link a {
        display: flex;
        justify-content: center;
        align-items: center;
		width: 2rem;
		height: 2rem;
		margin: 0 auto;
		border: 0;
		border-radius: 50%;
	}

    .social-link.facebook a:focus,
    .social-link.facebook a:hover,
    .social-link.facebook a:active { background-color: #1877F2 }
    .social-link.twitter a:focus,
    .social-link.twitter a:hover,
    .social-link.twitter a:active { background-color: #000000 }
    .social-link.google a:focus,
    .social-link.google a:hover,
    .social-link.google a:active { background-color: #dd4b39 }
    .social-link.linkedin a:focus,
    .social-link.linkedin a:hover,
    .social-link.linkedin a:active { background-color: #0274b3 }
    .social-link.pinterest a:focus,
    .social-link.pinterest a:hover,
    .social-link.pinterest a:active { background-color: #e60023 }
    .social-link.instagram a:focus,
    .social-link.instagram a:hover,
    .social-link.instagram a:active { background-color: #bd3381 }
    .social-link.youtube a:focus,
    .social-link.youtube a:hover,
    .social-link.youtube a:active { background-color: #ff0000 }
    .social-link.snapchat a:focus,
    .social-link.snapchat a:hover,
    .social-link.snapchat a:active { background-color: #fffc00 }
    .social-link.vimeo a:focus,
    .social-link.vimeo a:hover,
    .social-link.vimeo a:active { background-color: #17D5FF }
    .social-link.twitch a:focus,
    .social-link.twitch a:hover,
    .social-link.twitch a:active { background-color: #9147ff }
    .social-link.tiktok a:focus,
    .social-link.tiktok a:hover,
    .social-link.tiktok a:active { background-color: #FE2C55 }
    .social-link.reddit a:focus,
    .social-link.reddit a:hover,
    .social-link.reddit a:active { background-color: #D93A00 }
    .social-link.github a:focus,
    .social-link.github a:hover,
    .social-link.github a:active { background-color: #1a7f37 }
    .social-link.threads a:focus,
    .social-link.threads a:hover,
    .social-link.threads a:active { background-color: #000000 }
    .social-link.mastodon a:focus,
    .social-link.mastodon a:hover,
    .social-link.mastodon a:active { background-color: #563acc }
    .social-link.bluesky a:focus,
    .social-link.bluesky a:hover,
    .social-link.bluesky a:active { background-color: #0085ff }
}
